<div class="container mt-4">
    <h1>Carrito de Compras</h1>
 <p>{{success}}</p> 
    {{#if cart.products.length}}
    <table class="table table-bordered mt-4">
      <thead>
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Precio</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Subtotal</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.price}}</td>
          <td>{{this.quantity}}</td>
          <td>{{this.subtotal}}</td>
          <td>
            <form action="/carts/{{../cartId}}/products/{{this.id}}/delete" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3" class="text-right"><strong>Total:</strong></td>
          <td colspan="2"><strong>{{total}}</strong></td>
        </tr>
      </tfoot>
    </table>

<div id="message-container" class="text-center mt-4">
  {{#if message}}
  <script>
    Swal.fire({
      title: "Mensaje",
      text: "{{message}}",
      icon: "success",
      timer: 3000,
      timerProgressBar: true,
      toast: true,
      position: "top",
      showConfirmButton: false
    });
  </script>
  {{/if}}
</div>
    <div class="text-right">
      <div class="text-right">
  <form action="/carts/{{cartId}}/purchase" method="POST">
    <button type="submit" class="btn btn-primary">Realizar Compra</button>
  </form>
</div>

    </div>
    {{else}}
    <p>No hay productos en el carrito.</p>
    {{/if}}
  </div>

  <div class="container mt-4 text-right">
    <form action="/carts/{{cartId}}/products" method="GET">
      <button type="submit" class="btn btn-danger btn-sm">Limpiar Carrito</button>
    </form>
  </div>
